-i https://pypi.org/simple/
blinker==1.4
docutils==0.16
feedgenerator==1.9.1
ghp-import==0.5.5
jinja2==2.11.3
markdown==3.1.1
markupsafe==1.1.1
pelican==4.2.0
pygments==2.7.4
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
unidecode==1.2.0
